@font-face {
   font-family: 'Product Sans Regular';
   font-display: swap;
   src: url('file:///C:/Users/adikr/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-06_140756/fonts/Product%20Sans%20Regular/font.ttf');
}
